{% extends 'base.html' %}
 <div class="jumbotron">
{% block content %}

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form }}


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>jQuery UI Datepicker - Default functionality</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#id_insertion_date").datepicker({
                        maxDate: "0d",
                        minDate: "-3d"
                    }
                )
            })


        </script>

        <button type="submit" class="save btn btn-default">Lisa</button>
    </form>

{% endblock %}
 </div>